#main {
    background-image: url("https://th.bing.com/th/id/OIP.KNjcn847lnwGFl_ay8_v8wHaNK?pid=ImgDet&rs=1");

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input{
    display: flex;
    flex-direction: column;
    
}




#inputData {
    background-color: orange;
    width: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mb-3 {
    width:300px;
    border-radius: 10px;
}

Button {
    width: 120px;
}

h4 {
    position: relative;
    bottom: 20px;
}
