.categories {
    display: flex;
    justify-content: space-around;
    height: 500px;
    
}

body {
    background-image: linear-gradient(to right, #070707 20%, #605b5b);

}

h2 {
    color: rgb(250, 247, 247);
    
}

.leftover {
    margin-top: 240px;
}

#burgers {
    min-width: 100%;
}



@media only screen and (min-width:320px) and (max-width:600px) {
    .headerText {
        font-size: 10px;
    }

    #user {
        font-size:10px;
        position: relative;
        
    }

    .categories {

        display: block;
        width: 100%;


    }

    

    .menuCard {
        
        margin: auto auto 30px;
        
    }

   
    #logOut {
        margin-right: 35px;
    }



    #burgers {
        height: 2450px;
        display: flex;
        flex-direction: column;
        
        overflow: hidden;
    }

    .leftover {
        height: 2400px;
        margin-top: -0.5px;
        display: flex;
        flex-direction: column;

    }


    

    #bodyDiv {
        overflow: hidden;
        text-align: center;
    }
}





@media only screen and (min-width:768px) and (max-width:1024px) {



    body {
        background-size: 100%;
        background-position: cover;
    }
    


    .categories {

        flex-wrap: wrap;


    }

    #burgers {

        height: 1000px;
        

    }

    .menuCard {
        margin-top: 30px;
        
    }

    .leftover {
        height: 1000px;
    }

    #bodyDiv {
        overflow: hidden;
        text-align: center;
        height: 4000px;
    }


    
}

@media only screen and (min-width:1024px) and (max-width:1200px) {

    #bodyDiv {
        overflow: hidden;
        text-align: center;
        height: 3700px;
    }

    .categories {
        justify-content: space-between;
    }

    

}

@media only screen and (min-width:1024px){
h2 {
    position: relative;
    left: 23px;
    bottom: 20px;
}
}


