


#main {
        background-image: linear-gradient(to right, #070707 20%, #605b5b);
    
    
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


#inputData {
    background-color: orange;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mb-3 {
    width:300px;
    border-radius: 10px;
}

Button {
    width: 120px;
    position: relative;
    top: 20px;
}

